<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Opret bruger</title>
        <style>
            body {
            display: inline-block;
            padding: 10px;
            font-size: x-large;
            background-color: lightgreen;
            }
        </style>
    </head>
        <body>  
            <h1>Dansk Bridgeforbund</h1>
            <h4>Opret Bruger</h4>
            <form>
                <p>Email: <input type ="email" required v-model="Email"></p>
                <p>Adgangskode: <input type ="password" required v-model="Password"></p>
                <p>Bekræft adgangskode: <input type ="password" required v-model="ConfirmPassword"></p>
                <p>Fornavn: <input type ="text" required v-model="FirstName"></p>
                <p>Efternavn: <input type ="text" required v-model="SurName"></p>
                <p>Adresse: <input type ="text" required v-model="Address1"></p>
                <p>Anden adresse: <input type ="text" v-model="Address2"></p>
                <p>Land: <input type ="text" required v-model="Country"></p>
                <p>Postnummer: <input type ="text" required v-model="PostCode"></p>
                <p>Telefon nummer: <input type ="tel" required v-model="Phone"></p>
                <p>Fødselsdato: <input type ="date" required v-model="DateOfBirth"></p>
                <button type="submit">Opret bruger</button>
            </form>
            <div>
            <a href="C:\GitHub\BridgeProjekt\BridgeClubVue\Login.htm">Er du allerede bruger?</a>
            </div>

            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

            <script>
                const baseUrl = "Indsæt baseURL her";
                Vue.createApp({
                    data() {
                        return {
                            FirstName: "",
                            SurName: "",
                            Adress1: "",
                            Adress2: "",
                            Country: "",
                            PostCode: [],
                            Phone: [],
                            Email: "",
                            Password: "",
                            DateOfBirth: ""
                        }
                    },
                        methods: {
                            addUser() {
                                this.addUser(baseUrl)
                            }
                        }
                }).mount("#app")
                
            </script>
        </body>
</html>